.naslov{
    font-size: x-large; font-family: cursive;
    background-color: darkviolet;
    padding: 2px;
    margin: 2px;
    border: 1px solid darkblue;
    color: white;
    text-decoration: none;
    display: inline-block;
}
.logo{ 
    background-position: top;
}
.tekst{
    font-size: x-large;
    color: beige;
}
.linkovi{
    background-color: aqua;
    font-family: cursive;
    font-size: x-large;
    display: inline-block ;
    margin: 2px;
}
.linkovi:hover{
    background-color: red;
    font-size: 2em;
}
.lista{
    background-color: whitesmoke;
    font-family: Comic Sans MS;
    font-size: 1em;
    border: 2px solid royalblue;
    padding: 2px;
    color: darkblue;
    display: inline-block;
    margin: 2px;
}
.tekst2{
    font-size: xx-large;
    background-color: aquamarine;
    padding: 3px;
    margin: 2px;
    border: 2px;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
}
.test{
    font-size: x-large;
}